*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-size: 16px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

/*images*/
.img-1{
    background-image: url('https://picsum.photos/id/219/5184/3456');
}

.img-2{
    background-image: url('https://picsum.photos/id/222/1800/977');
}

.img-3{
    background-image: url('https://picsum.photos/id/225/1500/979');
}

.img-4{
    background-image: url('https://picsum.photos/id/239/1739/1391');
}

.img-5{
    background-image: url('https://picsum.photos/id/365/5616/3744');
}
/* Header with parallax scrolling effect */
.header{
    background-image: url('https://picsum.photos/id/213/4928/3264');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.title{
    font-size: 5rem;
    color: white;
    font-family: 'Domine';
    text-shadow: 2px 1px 2px #585858;
}

.desc{
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto';
}

/*menu navbar*/
.sticky-navbar, .menu{
    background-color: #585858;
    max-height: 100px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
}

.menu{
    list-style-type: none;
}

.menu li{
    padding: 5px 10px;
    margin: 20px 10px;
    font-size: 1.3rem;
    border: 2px solid #808080;
    background-color: #585858;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.2s background-color linear;
}

.menu li:hover{
    background-color: #808080;
    transition: 0.2s background-color linear;
}
.menu li a{
    text-decoration: none;
    color: white;
}

/*row*/
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px 10px 20px 10px;
}

.row:nth-child(even){
    background-color: rgb(240, 240, 240);
}

.row:nth-child(even) > .card{
    background-color: #ffffff;
}

.row:nth-child(odd) > .card{
    background-color: rgb(240, 240, 240);
}

/*card*/
.card{
    width: 30%;
    flex: 1;
    margin: 5% 2%;
    box-shadow: 2px 2px 3px #e7e7e7;
    transition: 0.2s box-shadow linear;
    display: flex;
    flex-direction: column;
}

.card:hover{
    box-shadow: 3px 3px 5px #d4d4d4;
    transition: 0.1s box-shadow linear;
}

.card-img{
    background-size: cover;
    width: 100%;
    min-height: 180px;
    background-position: center;
}

.card-title{
    padding: 20px 0 10px 10px;
    font-size: 1.2rem;
    color: darkolivegreen;
    font-family: 'Domine';
    text-align: left;
    font-weight: 800;
}
.card p{
    font-size: 0.95rem;
    padding: 0 20px 20px 10px;
    text-align: justify;
    line-height: 1.6em;
}

.center{
    text-align: center;
}

/*buttons*/
.btn{
    padding: 10px 20px;
    margin: 20px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    width: auto;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid transparent;
    border-top: 0;
    border-bottom: 4px solid transparent;
    transition: 0.09s border linear;
}

.btn:hover{
    border: 2px solid rgba(0,0,0,.3);
    border-top: 0;
    border-bottom: 4px solid rgba(0,0,0,.3);
    transition: 0.09s border linear;
}
.btn-green{
    background-color: darkolivegreen;
    color: whitesmoke;
}

.btn-blue{
    background-color: cornflowerblue;
}

.btn-red{
    background-color: indianred;
}

.btn-right{
    align-self: flex-end;
}

.btn-left{
    align-self: flex-start;
}

.btn-center{
    align-self: center;
}

.img-xl{
    min-height: 300px;
}

.btn-block{
    display: block;
    width: 100%;
    align-self: flex-start;
    text-transform: uppercase;
}

/* contact form */
#contact{
    background-image: url('https://picsum.photos/id/377/4884/3256');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.contact-form{
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.inline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: center;
}

.inline div{
    width: 33%;
    flex: 1;

}
.form-item{
    margin: 10px 20px;
}

.form-item legend{
    margin: 5px 0;
    font-family: 'Domine', serif;
}

.form-item input, .form-item textarea{
    background-color: transparent;
    border: 3px solid #e7e7e7;
    border-radius: 5px;
    transition: 0.09s border linear;
    padding: 5px 20px 10px 3px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;

}

.form-item input:focus, 
.form-item textarea:focus{
    border: 3px solid cornflowerblue;
}

.form-item input::placeholder, 
.form-item textarea::placeholder{
    color: white;
}

#message{
    width: 100%;
}

.footer{
    background-color: #585858;
    padding: 20px 0;
    text-align: center;
    color: white;
}